/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body {
  text-align: center;
}

button {
  padding: 15px;
  background-color: red;
  color: white;
  border-radius: 8px;
  border: none;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
  background-color: darkred;
}

button:active,
button:focus {
  outline: none;
}

#card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.poke-card {
  width: 250px;
  background-color: lightsteelblue;
  border: 8px solid steelblue;
  border-radius: 8px;
  padding: 10px;
}

.poke-card p {
  font-family: sans-serif;
}
